body {
  background-color: #F7F7F7;
}
h1 {
  text-align: center;
}
ul{
  list-style: none;
  padding-left: 0;
}
.main{
  width: 70%;
  height: 750px;
  margin: 0 auto;
}
.left-bar{
  width: 30%;
}
.right-bar{
  width: 70%;
}
.user,.channels,.msgs,.msg{
  width:100%;
  padding: 10px;
  border: 1px black solid;
}
.user, .msg{
  height: 20%;
}
.channels, .msgs {
  height: 80%;
}
.active {
  background-color: #000000;
  color: white;
}
