body { background-color: #FFF; }
h1 { text-align: center; }
h5 { margin: 100px auto 0 auto; }
h3 { font-weight: lighter; }
ul {
  list-style: none;
  padding-left: 0;
}
li::before {
  content: '#';
  padding: 5px;
}
.main {
  width: 70%;
  height: 750px;
  margin: 0 auto;
}
.left-bar { width: 30%; }
.right-bar { width: 70%; }
.user, .channels, .msgs, .msg {
  width:100%;
  padding: 10px;
  border: 1px black solid;
}
.user, .msg { height: 65px; }
.channels, .msgs {
  height: 600px;
}
.active {
  background-color: #000000;
  color: white;
}
.user { text-align: center; }
.msg { display: flex; }
.msgs {
  padding: 20px;
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin: auto;
}
.right {
  align-self: flex-end;
	border-radius: 10px 10px 0 10px !important;
	background-color: #0780FE !important;
	color: white;
}
.box {
	max-width:70%;
	background: #E5E5EA;
	border-radius: 10px 10px 10px 0;
	padding:5px;
	margin-bottom:10px;
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
p {	margin: 0; }
.username {
  font-size: 30px;
  font-weight: normal;
  vertical-align: top;
  margin: auto;
}
#message-text { width: 85%; }
#message-send {
  width: 14%;
  margin-left: 1%;
}
input[name='clear-storage'], input[name='add-channel'] { float: right; }
input[name='clear-storage'] { display: none; }
.remove {
  -webkit-transition: height 500ms ease-out;
  transition: height 500ms ease-out;
}
.navbar-brand {
  margin: 0;
  font-size: 40px;
}
